.app-item {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  width: 140px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 12px;
}
.app-img {
  width: 64px;
  height: 64px;
}
.app-name {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #1e293b;
  margin-top: 12px;
  text-align: center;
}
